.main {
  height: 100vh;
}

.content {
  height: 95vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.content > article {
  margin: 4px;
  padding: 5px;
  flex: 3 1 60%;
  order: 2;
}

.content > nav {
  height:100%;
  flex: 1 6 20%;
  order: 1;
}

.content > aside {
  margin: 4px;
  padding: 5px;
  flex: 1 6 20%;
  order: 3;
}

.mainMenuHolder {
  height: 100%;
}
